<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="c:\temp\internal.txt">


  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile" fileName="c:\temp\nlog-own-${shortdate}.log"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Console" name="ownMessages" 
            layout="${longdate}|${logger}|${uppercase:${level}}|${message}
              ${gdc:entityId} ${gdc:entityType} ${gdc:event} ${gdc:processId} ${gdc:processor} ${gdc:message} " />


    <target name="database" xsi:type="Database"
             dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
             connectionString="server=127.0.0.1;port=6603;Database=Logs;Uid=root;Pwd=mypassword">
      <!--
    Script for creating the dbo.Log table.
         CREATE TABLE `MessageLogs` (
        `ID` char(40) NOT NULL,
        `EntityID` varchar(50) NULL,
        `EntityType` varchar(128)  NOT NULL,
        `Event` varchar(50)  NOT NULL,
        `ProcessID` varchar(50)  NOT NULL,
        `Message` varchar(8196)  NOT NULL,
        `TimeStamp` datetime  NOT NULL,
        `ProcessorID` varchar(50)  NOT NULL,
        `Processor` varchar(50)  NOT NULL,
        `IsTest` TINYINT NOT NULL,
        PRIMARY KEY (`Id`)
      ) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
    -->

      <commandText>
        INSERT INTO MessageLogs (ID, EntityID, EntityType,Event,ProcessID,Message, TimeStamp,ProcessorID,Processor,IsTest)
        VALUES (uuid(), @entityId, @entityType,@event,@processID, @message, @timeStamp,@processorId,@processor, @isTest);
      </commandText>
      <parameter name="@entityId" layout="${gdc:entityId}" />
      <parameter name="@entityType" layout="${gdc:entityType}" />
      <parameter name="@event" layout="${gdc:event}" />
      <parameter name="@processId" layout="${gdc:processId}" />
      <parameter name="@processor" layout="${gdc:processor}" />
      <parameter name="@message" layout="${gdc:message}" />
      <parameter name="@timeStamp" layout="${date}" />
      <parameter name="@processorId" layout="${gdc:processorId}" />
      <parameter name="@isTest" layout="${gdc:isTest}" />
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="FlowLogger" minlevel="Trace" writeTo="database" />
    <logger name="FlowLogger" minlevel="Trace" writeTo="ownMessages" />
  </rules>
</nlog>